div.login_success, div.register_success, div.success {
 	text-align:center;
 	background:#66AFE9;
 	margin-top:10px;
 	padding:5px;
 	border-radius:5px;
 	display:none;
	width:90%;
 }
 span.login_success_text, span.register_success_text, span.success_text {
 	font-size:1.1em;
 	color:#E7E7E7;
 	font-weight:300;
 }
 
div.error {
 	text-align:center;
 	background:#C13726;
 	margin-top:10px;
 	padding:5px;
 	border-radius:5px;
 	display:none;
	width:90%;
 }
 span.error_text {
 	font-size:1.1em;
 	color:#E7E7E7;
 	font-weight:300;
 }
 li.main-nav {
	margin-left:5px;
 }
 .navbar-nav > li > a {
	padding-bottom:16px;
 	padding-top:10px;
 }
.navbar-nav > li > a:hover {
	padding-bottom:16px;
 	padding-top:15px;
 }
 ul.paginate li {
	display:inline;
 	list-style-type:none;
 	margin-left:10px;
 	background:#CCCCCC;
 	padding:10px;
 }
 img.featured_match, img.match_result {
	width:100%;
 	height:auto;
 	border:5px solid #818181;
 	margin-bottom:10px;
 }
 img.featured_match:hover, img.match_result:hover {
	opacity:0.5;
 }
 .featured_match, .match_result {
	text-align:center;
 }
 .title {
	font-weight:600;
 }
 .prediction, .result {
	text-transform:uppercase;
 }
 .result {
	font-size: 20px;
 }
 .versus {
	margin-top:100%;
 }
 .league-information {
	text-transform:uppercase;
 	font-size:13px;
 }
 .bolder {
	font-weight:700;
 }
 .profile-actions, .leave-team {
	cursor:pointer;
 }
 .inbox-avatar {
	width:29px;
 	height:29px;
 }
tr.strikeout td { 
	position:relative
 } /* Setup a new coordinate system   */
tr.strikeout td:before {                     
	content: " ";                              
	position: absolute;                        
	left: 0; top: 50%; width: 100%;           
	border-bottom: 1px solid #000;             
}
.screenshot {
	padding:5px;
}
.rules p {
	padding:0 30px 0 30px;
}
.recent_matches_teams {
	font-size:18px;
	text-align:center;
}
.recent_matches_date {
	margin-left:25%;
}
.post-image {
	text-align:center;
	margin:0 auto;
}
.view-team-logo {
	margin:0 auto;
}
<<<<<<< HEAD
.well-social-networks {
	background:#EEEEEE;
	padding:15px;
}
.contact-social-networks ul, li {
	display:inline;
}
.contact-social-networks .fa {
	margin-top:20px;
	font-size:40px;
	width:50px;
}
.contact-social-networks .fa-youtube:hover {
	color: #FF2A24;
}
.contact-social-networks .fa-twitter:hover {
	color: #74C2E9;
}
.contact-social-networks .fa-facebook:hover {
	color: #3C599B;
}
.contact-social-networks .fa-google-plus:hover {
	color: #DC4937;
=======
.about-content {
	padding:10px;
>>>>>>> master
}