/*
 *  Tournament Bracket Styles
*/
main {
    display:flex;
    flex-direction:row;
}
.round {
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:200px;
    list-style:none;
    padding:0;
}
.round .spacer { 
    flex-grow:1; 
}
.round .spacer:first-child, .round .spacer:last-child { 
    flex-grow:.5; 
}
.round .champion-spacer:first-child, .round .champion-spacer:last-child { 
    flex-grow:.35; 
}
.round .game-spacer {
    flex-grow:1;
}
.round-name {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #35aa47;
    margin-bottom: 10px;
}

.map-name {
    font-size:12px;
}

li.game {
    padding-left:0px;
    font-size:10px;
}
.round-2 li.game, .round-3 li.game, .round-4 li.game, .round-5 li.game {
    padding-left:10px;
    font-size:10px;
}

li.game.winner {
    font-weight:bold;
}
li.game.champion-team {
    font-size:16px;
    font-weight:bold;
}
li.game.champion {
    font-size:11px;
    font-style:italic;
}
li.game span {
    float:right;
    margin-right:5px;
}

li.game-top { 
    border-bottom:1px solid #aaa; 
}

li.game-spacer { 
    border-right:1px solid #aaa;
    min-height:40px;
}

li.game-bottom { 
    border-top:1px solid #aaa;
}